## Youtube statistics 

 - data source : https://www.kaggle.com/datasnaek/youtube-new/data#KRvideos.csv
 
 --- 
  위 링크에서 제공하는 데이터 중, 한국에 해당하는 것은 중간중간 망가진 데이터가 있어서 일반적인 방법으로 읽을 수 없었다. 따라서 다음과 같은 과정을 통해 데이터를 정제 하였다. 
  
  1. Python의 csv 라이브러리를 사용하여 데이터의 generator를 생성한다. 
  2. next()를 호출했을 때, 에러가 없다면 다음 과정을 수행한다. 
  3. 가장 첫번째 데이터 행은 해당 데이터의 column을 의미한다. 
  4. 데이터의 요소 갯수가 맞지 않는다면, 그 데이터는 제외하도록 한다. 
  5. 데이터를 string 타입으로 생성하고 이를 각 column의 리스트에 append한다. 
  6. 각 column의 데이터타입을 손수 정의한다.

In [1]:
import csv
 
f = open('KRvideos.csv', 'r', encoding='utf-8')
data = csv.reader(f)

dic = {}
    
for i in range(34600):
    try:
        line = next(data)
    except:
        continue
    
    if i == 0:
        columns = line.copy()
        for col in columns:
            dic[col] = []
        continue
        
    if len(line) != 16:
        continue
        
    for j, elem in enumerate(line):

        dic[columns[j]].append(elem)
        
f.close()

다음처럼 약 33000개 정도의 데이터를 정리했다.

In [2]:
df = pd.DataFrame(dic)
df.tail(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
33020,xuOQq_fzEjk,18.14.06,2018년 6월 13일 아침 뉴스,News Express,25,2018-06-12T13:17:29.000Z,"한국|""북한""|""미국""|""중국""|""일본""|""러시아""|""한국뉴스""|""뉴스""|""국제뉴스...",62555,319,71,105,https://i.ytimg.com/vi/xuOQq_fzEjk/default.jpg,FALSE,FALSE,FALSE,2018년 6월 13일 아침 뉴스등록되지 않은 구독자가 여기에서 내 새 채널을 지원...
33021,uXvjxeg08eQ,18.14.06,워너원 웃음 참기 영상 워너원 GO X-con.ver,원플,22,2018-06-11T11:57:20.000Z,"워너원|""워너원 고""|""워너원 GO""|""웃음참기""|""워너원 웃음참기""|""워너원 레전...",63306,2369,27,571,https://i.ytimg.com/vi/uXvjxeg08eQ/default.jpg,FALSE,FALSE,FALSE,워너원 웃음 참기 영상 항상 좋아해주셔서 감사합니다8ㅅ8이번에는 얼마전에 있었던 원...
33022,C-bLqIftDY4,18.14.06,[법륜스님의 즉문즉설 제 1398회] 시동생의 아이를 키우게 됐어요,법륜스님의 즉문즉설,29,2018-06-10T20:00:01.000Z,"불교|""즉문즉설""|""법륜스님""|""정토회""|""buddha""|""buddhism""|""po...",63716,500,58,135,https://i.ytimg.com/vi/C-bLqIftDY4/default.jpg,FALSE,FALSE,FALSE,"3월에 시동생이 이혼했습니다 그러면서 제가중2, 7살, 4살 되는 조카들을 데리고 ..."

In [3]:
type_dict = {}
type_dict[columns[0]] = str
type_dict[columns[1]] = str
type_dict[columns[2]] = str
type_dict[columns[3]] = str
type_dict[columns[4]] = int
type_dict[columns[5]] = str
type_dict[columns[6]] = str
type_dict[columns[7]] = int
type_dict[columns[8]] = int
type_dict[columns[9]] = int
type_dict[columns[10]] = int
type_dict[columns[11]] = str
type_dict[columns[12]] = bool
type_dict[columns[13]] = bool
type_dict[columns[14]] = bool
type_dict[columns[15]] = str

In [4]:
for col in columns:
    df[col] = df[col].apply(type_dict[col])

다음처럼 알맞은 데이터 타입으로 변환되었다.

In [5]:
df.dtypes

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

In [6]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  33023.000000  3.302300e+04  3.302300e+04  3.302300e+04   3.302300e+04
mean      21.151985  4.206037e+05  1.181485e+04  5.332303e+02   1.991526e+03
std        6.669264  2.427884e+06  1.155629e+05  1.398592e+04   2.167840e+04
min        1.000000  2.050000e+03  0.000000e+00  0.000000e+00   0.000000e+00
25%       22.000000  4.774100e+04  4.110000e+02  2.100000e+01   1.050000e+02
50%       24.000000  1.111940e+05  1.386000e+03  6.500000e+01   3.440000e+02
75%       25.000000  2.786070e+05  3.691000e+03  1.740000e+02   9.250000e+02
max       44.000000  1.138762e+08  5.150839e+06  1.470388e+06   1.142274e+06

다음으로 category_id의 각 숫자가 어떤 category인지를 추가한다.

In [7]:
import json

In [8]:
with open("KR_category_id.json", "r") as f:
    cate_info = json.loads(f.read())

In [9]:
df.category_id.unique()

array([22, 25, 17, 19, 23, 10, 24, 15,  1, 43, 28, 20, 29,  2, 27, 26, 44])

29의 카테고리에 대해서는 누락이 되어 있다. 이는 미국의 자료를 참고하여 손수 정하였다. 전체를 훓어봤을 때, 한국과 미국의 카테고리id와 이름은 똑같았다.

In [10]:
category_id_name = {}

for cate in cate_info["items"]:
    
    category_id_name[int(cate["id"])] = cate["snippet"]["title"]
    
    
category_id_name[29] = "Nonprofits & Activism" ## it is missed, this is from US version json file.
category_id_name

{1: 'Film & Animation',
 2: 'Autos & Vehicles',
 10: 'Music',
 15: 'Pets & Animals',
 17: 'Sports',
 18: 'Short Movies',
 19: 'Travel & Events',
 20: 'Gaming',
 21: 'Videoblogging',
 22: 'People & Blogs',
 23: 'Comedy',
 24: 'Entertainment',
 25: 'News & Politics',
 26: 'Howto & Style',
 27: 'Education',
 28: 'Science & Technology',
 30: 'Movies',
 31: 'Anime/Animation',
 32: 'Action/Adventure',
 33: 'Classics',
 34: 'Comedy',
 35: 'Documentary',
 36: 'Drama',
 37: 'Family',
 38: 'Foreign',
 39: 'Horror',
 40: 'Sci-Fi/Fantasy',
 41: 'Thriller',
 42: 'Shorts',
 43: 'Shows',
 44: 'Trailers',
 29: 'Nonprofits & Activism'}

In [11]:
df["category_name"] = list(map(lambda x : category_id_name[x], df.category_id.values))

In [12]:
df.tail(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,category_name
33020,xuOQq_fzEjk,18.14.06,2018년 6월 13일 아침 뉴스,News Express,25,2018-06-12T13:17:29.000Z,"한국|""북한""|""미국""|""중국""|""일본""|""러시아""|""한국뉴스""|""뉴스""|""국제뉴스...",62555,319,71,105,https://i.ytimg.com/vi/xuOQq_fzEjk/default.jpg,True,True,True,2018년 6월 13일 아침 뉴스등록되지 않은 구독자가 여기에서 내 새 채널을 지원...,News & Politics
33021,uXvjxeg08eQ,18.14.06,워너원 웃음 참기 영상 워너원 GO X-con.ver,원플,22,2018-06-11T11:57:20.000Z,"워너원|""워너원 고""|""워너원 GO""|""웃음참기""|""워너원 웃음참기""|""워너원 레전...",63306,2369,27,571,https://i.ytimg.com/vi/uXvjxeg08eQ/default.jpg,True,True,True,워너원 웃음 참기 영상 항상 좋아해주셔서 감사합니다8ㅅ8이번에는 얼마전에 있었던 원...,People & Blogs
33022,C-bLqIftDY4,18.14.06,[법륜스님의 즉문즉설 제 1398회] 시동생의 아이를 키우게 됐어요,법륜스님의 즉문즉설,29,2018-06-10T20:00:01.000Z,"불교|""즉문즉설""|""법륜스님""|""정토회""|""buddha""|""buddhism""|""po...",63716,500,58,135,https://i.ytimg.com/vi/C-bLqIftDY4/default.jpg,True,True,True,"3월에 시동생이 이혼했습니다 그러면서 제가중2, 7살, 4살 되는 조카들을 데리고 ...",Nonprofits & Activism

In [13]:
# df.to_csv("data.csv", index=False)